:root {
  --primary: #623e2a;
  --secondary: #91713c;
  --light: #f4f1ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light);
  color: var(--primary);
}

/* Menu */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.menu .menu-logo img {
  width: 180px;
}
.menu .menu-nav a {
  color: var(--light);
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}
.menu .menu-nav a:hover,
.sidebar-box .sidebar .sidebar-content a:hover {
  color: var(--secondary);
}
.menu .menu-nav a::after,
.sidebar-box .sidebar .sidebar-content a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--secondary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.menu .menu-nav a:hover::after,
.sidebar-box .sidebar .sidebar-content a:hover::after {
  transform: scaleX(0.5);
}
.menu.menu-fixed {
  background-color: rgba(98, 62, 42, 0.3);
  backdrop-filter: blur(5px);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/header3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, var(--light) 10%, rgba(0, 0, 0, 0) 50%);
}
.hero .content {
  text-align: center;
  color: var(--light);
}
.hero .content .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
}
.hero .content h1 {
  font-size: 4.7rem;
  font-family: "Catchy Mager";
}
.hero .content p {
  font-size: 1rem;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
}
.hero .content .cta {
  margin-top: 1.1rem;
  display: inline-block;
  padding: 0.7rem 2rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero .content .cta:hover,
.room-content .room-images .room-extra .order a:hover {
  color: var(--light);
  background-color: var(--secondary);
}

/* Sidebar */
.sidebar-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  position: fixed;
  top: 150px;
}
.sidebar-box .sidebar {
  display: flex;
  justify-content: flex-end;
  width: 25rem;
}
.sidebar-box .sidebar .sidebar-content {
  opacity: 0;
  transition: all 0.3s;
}
.sidebar-box .sidebar .sidebar-content.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primary);
  opacity: 1;
}
.sidebar-box .sidebar .sidebar-content a {
  padding: 10px 0;
  color: #fff;
}
.sidebar-box .sidebar .sidebar-btn {
  padding-top: 10px;
  padding-right: 1rem;
}
.sidebar-box .sidebar .sidebar-btn span {
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.sidebar-box .sidebar .sidebar-btn span:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

/* Content */

/* About Us */
.about-us h3 {
  text-align: center;
  font-size: 70px;
  font-family: "Catchy Mager";
}
.about-us h2 {
  text-align: center;
  font-size: 25px;
}
.about-us .line {
  width: 20%;
  border: 3px solid var(--primary);
  border-radius: 10px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 4%;
}

/* Profil */

.container {
  display: flex;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 5px solid black; */
  padding: 3%;
  margin: 0% auto;
  box-sizing: border-box;
  row-gap: 55px;
}
.profil {
  width: 35%;
}
.shape1, .shape2, .shape3, .shape4 {
  width: 23%;
  height: 48%;
  margin: -2%;
  z-index: -1;
  position: absolute;
  border-radius: 5px;
  /* border: 5px solid black; */
}
.shape1 {
  background-color: aqua;
}
.shape2 {
  background-color: lightcoral;
}
.shape3 {
  background-color: lightblue;
}
.shape4 {
  background-color: lightgreen;
}
.profil img {
  width: 100%;
  border-radius: 5px;
}
.txt-pengerjaan {
  margin-top: -40px;
  margin-left: 12px;
  position: absolute;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    color: var(--light);
    padding: 15px 0;
  }
  
  /* Media Queries */
  
  /* Laptop */
  @media (max-width: 1360px) {
    html {
      font-size: 75%;
    }
  }
  
  /* Tablet */
  @media (max-width: 768px) {
    html {
      font-size: 62.5%;
    }
  
    #hamburger-menu {
      display: inline-block;
    }
  
    .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #fff;
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
    }
  
    .navbar .navbar-nav.active {
      right: 0;
    }
  
    .navbar .navbar-nav a {
      color: var(--bg);
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }
  
    .navbar .navbar-nav a::after {
      transform-origin: 0 0;
    }
  
    .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.2);
    }
  
    .navbar .search-form {
      height: 90%;
      right: 2rem;
    }
  
    .about .row {
      flex-wrap: wrap;
    }
  
    .about .row .about-img img {
      height: 24rem;
      object-fit: cover;
      object-position: center;
    }
  
    .about .row .content {
      padding: 0;
    }
  
    .about .row .content h3 {
      margin-top: 1rem;
      font-size: 2rem;
    }
  
    .about .row .content p {
      font-size: 1.6rem;
    }
  
    .menu p {
      font-size: 1.2rem;
    }
  
    .contact .row {
      flex-wrap: wrap;
    }
  
    .contact .row .map {
      height: 30rem;
    }
  
    .contact .row form {
      padding-top: 0;
    }
  }
  
  /* Mobile */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }