:root {
  --primary: #623e2a;
  --secondary: #91713c;
  --light: #f4f1ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light);
  color: var(--primary);
}

/* Menu */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.menu .menu-logo img {
  width: 180px;
}
.menu .menu-nav a {
  color: var(--light);
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}
.menu .menu-nav a:hover,
.sidebar-box .sidebar .sidebar-content a:hover {
  color: var(--secondary);
}
.menu .menu-nav a::after,
.sidebar-box .sidebar .sidebar-content a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--secondary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.menu .menu-nav a:hover::after,
.sidebar-box .sidebar .sidebar-content a:hover::after {
  transform: scaleX(0.5);
}
.menu.menu-fixed {
  background-color: rgba(98, 62, 42, 0.3);
  backdrop-filter: blur(5px);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, var(--light) 10%, rgba(0, 0, 0, 0) 50%);
}
.hero .content {
  text-align: center;
  color: var(--light);
}
.hero .content .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
}
.hero .content h1 {
  font-size: 4.7rem;
  font-family: "Catchy Mager";
}
.hero .content p {
  font-size: 1rem;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
}
.hero .content .cta {
  margin-top: 1.1rem;
  display: inline-block;
  padding: 0.7rem 2rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero .content .cta:hover {
  color: var(--light);
  background-color: var(--secondary);
}

/* Sidebar */
.sidebar-box {
  position: fixed;
  top: 150px;
  right: 0;
}
.sidebar-box .sidebar {
  display: flex;
  justify-content: flex-end;
}
.sidebar-box .sidebar .sidebar-content {
  display: none;
}
.sidebar-box .sidebar .sidebar-content.active {
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--light);
  flex-direction: column;
  margin-right: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 27rem;
  background-color: var(--primary);
}
.sidebar-box .sidebar .sidebar-content iframe {
  width: 25rem;
  height: 20rem;
  border-radius: 20px;
  padding: 15px;
}
.sidebar-box .sidebar .sidebar-content .btn-contact {
  margin: 10px 0;
  padding: 10px 15px;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--light);
  border-radius: 5px;
}
.sidebar-box .sidebar .sidebar-content .btn-contact:hover {
  border: 2px solid var(--light);
  color: var(--light);
}
.sidebar-box .sidebar .sidebar-content .btn-contact::after {
  display: none;
}
.sidebar-box .sidebar .sidebar-content a {
  padding: 10px 0;
  color: var(--light);
}
.sidebar-box .sidebar .sidebar-btn {
  padding-top: 10px;
  padding-right: 1rem;
}
.sidebar-box .sidebar .sidebar-btn span {
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.sidebar-box .sidebar .sidebar-btn span:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

/* HOMEPAGE */

/* Accomodation Section */
.accommodation-section,
.room-section,
.evaluation-section {
  background-color: var(--light);
  padding: 100px 0;
}
.accommodation-section h3,
.form-content .form-title,
.evaluation-section h3,
.about-us h3 {
  text-align: center;
  font-size: 70px;
  font-family: "Catchy Mager";
}

.akom {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  margin: 50px auto 0;
  justify-content: space-evenly;
  gap: 2rem;
}
.akom .akom-list {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.akom-list-head {
  margin-bottom: 5px;
}
.akom-list-head img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.akom-list-desc {
  padding: 5px 15px 15px;
}
.akom-list-desc h4 {
  font-size: 1.3em;
}
.akom-list-desc .location {
  font-size: 0.8em;
  font-weight: 400;
  color: rgb(5, 111, 209);
  display: block;
}
.akom-list-desc .rating {
  font-size: 0.9em;
}
.akom-list-desc .price-from {
  padding-top: 15px;
  text-align: right;
}
.akom-list-desc .price {
  font-size: 1.2em;
}
.akom-list-desc .price span,
.akom-list-desc .price-from .text {
  font-size: 0.7em;
}

/* Room Section */
.room-section h3 {
  font-family: "Catchy Mager";
  text-align: center;
  font-size: 3.5rem;
}
.room-section .room-box .title {
  font-size: 2rem;
  padding-top: 50px;
  margin-left: 50px;
}
.room-section .room-box {
  width: 100%;
}
.room-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  gap: 1.2rem;
}

.room-content .room-images {
  flex: 2;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 5px;
}
.room-content .room-images img {
  width: 49%;
  background-size: cover;
  border-radius: 10px;
}
.room-content .room-images .room-extra {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.room-content .room-images .room-extra .available {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  color: var(--light);
}
.room-content .room-images .room-extra .price {
  margin-top: 30px;
  font-size: 1.4rem;
}
.room-content .room-images .room-extra .price span {
  font-size: 0.9rem;
}
.room-content .room-images .room-extra .order {
  display: flex;
  align-items: center;
}
.room-content .room-images .room-extra .order a {
  color: var(--primary);
  border: 3px solid var(--primary);
  padding: 13px 10px;
  border-radius: 8px;
}
.room-content .room-images .room-extra .order a:hover {
  background-color: var(--primary);
  color: var(--light);
}
.room-box .room-content ul {
  padding-left: 20px;
}
.room-box .room-content .room-details {
  flex: 2;
}
.room-box .room-content .room-details p {
  margin-bottom: 50px;
}
.room-box .room-content .room-facility {
  flex: 1;
  padding: 0 20px;
}
.room-box .room-content .room-facility .title-facility,
.room-box .room-content .room-details .title-details {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

/* VALIDATION PAGE */

/* Form Content */
.form-content {
  background-color: var(--light);
  padding: 50px 0;
}
.myForm {
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.myForm .form-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.myForm .form-group .form-box {
  border: 2px solid var(--primary);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.myForm .form-group:last-child .form-box {
  width: 28rem;
}
.myForm .form-group:first-child .form-box {
  width: 40rem;
  padding: 15px;
  text-align: center;
}
.myForm .form-group .form-box .form-box-title {
  font-size: 1.3rem;
}
.myForm .form-group .form-box .input-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.form-group .form-box .input-group .form-label {
  font-size: 1rem;
  padding-bottom: 10px;
}
.form-group .form-box .input-group .form-label span {
  color: red;
}
.form-group .form-box .input-group .form-input[type="text"],
.form-group .form-box .input-group .form-input[type="date"] {
  max-height: 30px;
  border-radius: 5px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.form-group .form-box .input-group .form-input[type="date"] {
  text-align: center;
  margin: 0 auto;
  width: 25rem;
}
.form-group .form-box .input-group .form-input[type="text"]:focus {
  border: 2px solid var(--secondary);
}
.form-group .form-box .input-group .tel-inp-group .form-input {
  width: 87%;
  margin-left: 10px;
}
.form-group .form-box .hotel,
.form-group .form-box .room {
  display: flex;
  margin: 10px 0;
  gap: 10px;
  align-items: center;
}
.form-group .form-box .hotel img,
.form-group .form-box .room img {
  width: 150px;
  border-radius: 5px;
}
.form-group .form-box .input-group[id="dropdown"] {
  flex-direction: row;
}
.form-group .form-box .input-group[id="dropdown"] .form-label {
  padding-right: 12px;
}
.form-group .form-box .input-group select,
.form-group .form-box .input-group textarea {
  font-family: "Poppins", sans-serif;
}
.form-group .form-box .input-group select {
  padding: 5px;
  border-radius: 5px;
}
.form-group .form-box .input-group textarea {
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
}
#btnSubmit {
  border: 2px solid var(--primary);
  padding: 10px 15px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  float: right;
}
#btnSubmit:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--light);
}
#pesanError {
  padding-top: 10px;
  font-size: 0.8rem;
  color: red;
}

/* Evaluation */
.evaluation-section table th {
  background-color: var(--primary);
  color: var(--light);
}
.evaluation-section table ul {
  padding-left: 15px;
}

/* About Us */
.about-us .head h3 {
  padding-top: 30px;
}
.about-us .head span {
  font-size: 1.5rem;
  display: block;
  text-align: center;
}
.about-us .head .class-title {
  padding: 50px 0;
}
.about-us .head .class-title span:first-child::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--primary);
  width: 25%;
  margin: 0 auto;
}
.about-us .content {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  margin: 0 auto 30px;
  gap: 6rem;
}
.profil {
  width: 35%;
}
.profil .image {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}
.profil .image .foto {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 5px;
}
.profil .image .foto::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: translate(-25px, -25px);
  position: relative;
  z-index: -1;
  border-radius: 5px;
}
.profil:nth-child(1) .image .foto {
  background-image: url(../img/profil/bintang.jpg);
}
.profil:nth-child(1) .image .foto::before {
  background-color: salmon;
}
.profil:nth-child(2) .image .foto {
  background-image: url(../img/profil/sabil.jpg);
}
.profil:nth-child(2) .image .foto::before {
  background-color: slateblue;
}
.profil:nth-child(3) .image .foto {
  background-image: url(../img/profil/azriel.jpg);
}
.profil:nth-child(3) .image .foto::before {
  background-color: #90ee90;
}
.profil:nth-child(4) .image .foto {
  background-image: url(../img/profil/ronggo.jpg);
}
.profil:nth-child(4) .image .foto::before {
  background-color: chocolate;
}
.progress {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: -41px;
  width: 100%;
  padding: 12px 0;
  font-size: 0.9rem;
  max-height: 42px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}
.profil .image .foto:hover ~ .progress {
  opacity: 1;
}
.progress span {
  color: black;
  font-weight: 700;
}
.profil .data-diri .name {
  font-weight: 700;
}
.progress-table,
.source-table {
  text-align: center;
  width: 100%;
}
.progress-table h4,
.source-table h4 {
  font-size: 2.5rem;
  font-family: "Catchy Mager";
  text-align: center;
}
.progress-table table,
.source-table table,
.evaluation-section table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 50px auto;
}
.source-table table,
.evaluation-section table {
  max-width: 70vw;
}
.source-table table tr th:nth-child(2) {
  width: 300px;
}
.source-table img {
  width: 100%;
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--light);
  padding: 15px 0;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1360px) {
  html {
    font-size: 80%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 72%;
  }

  .accommodation-section,
  .room-section {
    padding: 50px 0;
  }
  .accommodation-section h3,
  .form-content .form-title {
    font-size: 52px;
  }
  .room-content {
    flex-direction: column;
  }
  .room-box .room-content .room-facility {
    flex: 1;
    padding: 0;
  }

  .myForm .form-group {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .myForm .form-group:last-child .form-box,
  .myForm .form-group:first-child .form-box {
    width: 80vw;
  }
  .form-group .form-box .input-group .form-input[type="date"] {
    width: 70vw;
  }
  .form-group .form-box .input-group .tel-inp-group .form-input {
    width: 90%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
